<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025209278651-o3hc6p7va3i754p7vikv9dkr4ipfrt65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025209278651-o3hc6p7va3i754p7vikv9dkr4ipfrt65</string>
	<key>API_KEY</key>
	<string>AIzaSyBXER1dwbxnGRhpTJ7LHRvZTJMBRivc-sQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1025209278651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devckrishna.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a7dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a7dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025209278651:ios:6eceeca48e932c1d88c99e</string>
</dict>
</plist>